@import "./styles/recipe.scss";
@import "./styles/recipes.scss";
@import "./styles/pagination.scss";
@import "./styles/recipeDetails.scss";


html,
a,
h1,
h2,
h3,
h4,
p,
img {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}
